<a href="https://colab.research.google.com/github/asantone/python/blob/master/readCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Intro text

In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

url_control = 'https://raw.githubusercontent.com/asantone/python/master/data/control.csv'
url_treatment = 'https://raw.githubusercontent.com/asantone/python/master/data/treatment.csv'

control = pd.read_csv(url_control) 
treatment = pd.read_csv(url_treatment) 

print(control.head(5))
print(treatment.head(5))

   id  1  2  3  4  5  6  7  8  9  ...  15  16  17  18  19  20  21  22  23  24
0   1  4  2  4  3  1  5  2  2  2  ...   2   3   2   1   1   4   2   3   3   2
1   2  2  5  3  2  2  5  3  5  4  ...   3   5   3   5   4   1   1   1   1   1
2   3  4  5  2  3  5  4  5  4  2  ...   2   3   2   5   1   4   2   5   5   3
3   4  2  3  2  5  3  1  2  4  5  ...   4   4   2   1   1   2   1   4   4   2
4   5  2  1  2  4  3  3  1  1  2  ...   4   2   2   2   5   2   2   3   4   4

[5 rows x 25 columns]
   id  1  2   3   4   5   6   7   8   9  ...  15  16  17  18  19  20  21  22  23  24
0   1  4  9  14  17  22  26  30  31  34  ...  52  57  62  63  68  70  74  75  79  84
1   2  1  3   5  10  11  13  18  21  22  ...  35  36  38  42  44  49  54  56  61  66
2   3  3  6   9  10  11  12  14  19  21  ...  36  40  43  48  50  55  56  58  60  61
3   4  4  6  10  11  14  15  19  24  27  ...  48  53  54  58  59  62  66  71  73  77
4   5  3  7  10  13  17  20  24  26  29  ...  46  48  51  52  53  55  59  62  63  68

[5 rows x 25 columns]